.login {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
    justify-content: space-around;
  }

.login-app {
    flex-basis: calc(30% - 50px);
}

.login-app-dowload {
  display: flex;
}

.login-user {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login-user-pass {
  display: flex;
  justify-content: space-between;
}
